* {
    margin: 0;
    padding: 0;
}

.content {
    float: left;
    width: 100%;
    background-color: black;
}

.main {
    margin: 0 200px 0 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: RGB(50, 57, 74);
}

.subtitle {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    color: white;
}

.icon {
    width: 25px;
}

.icon-arrow {
    float: left;
    margin-left: 10px;
    margin-top: 7px;
}

.icon-shopping {
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}

.icon-point {
    position: absolute;
    top: 235px;
    right: 205px;
}

.icon-point-gray,
.icon-point-white {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.icon-point-gray {
    background-color: rgb(109, 107, 107);
}

.icon-point-white {
    background-color: rgb(240, 240, 240);
}

.image {
    width: 100%;
    height: 200px;
    background-image: url(../static/slide-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    width: 100%;
    height: 120px;
    background-color: white;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-left {
    float: left;
    margin: 0 auto;
    width: 140px;
}

.menu-center {
    float: left;
    margin: 0 auto;
    width: 140px;
}

.menu-right {
    float: left;
    margin: 0 auto;
    width: 140px;
}

.menu-list li {
    list-style: none;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    border: solid 1px rgb(211, 208, 208);
    border-radius: 20px;
}

.menu a {
    -webkit-tap-highlight-color: transparent;
    color: black;
    text-decoration: none;
}

.menu a:visited {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: black;
    text-decoration: none;
}

.menu li:hover {
    background-color: #ec4a55;
}

.menu li:hover a {
    color: white;
}

.article {
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0;
}

.article-list {
    list-style: none;
    padding: 0;
    margin-left: 20px;
    width: 95%;
    height: 180px;
    border-top: 1px solid rgb(211, 208, 208);
}

.article-list-img {
    float: left;
    width: 200px;
    height: 160px;
    margin-top: 20px;
}

.article-image {
    width: 200px;
}

.article-list-content {
    margin-top: 20px;
    height: 160px;
    margin-left: 230px;
    margin-right: 30px;
}

.artical-header {
    font-size: 20px;
    margin-top: 8px;
}

.artical-text {
    margin-top: 8px;
    font-size: 15px;
    color: gray;
}

.artical-shop {
    margin-top: 8px;
    float: left;
}

.artical-price {
    display: inline;
    font-size: 15px;
    color: #ec4a55;
}

.artical-learn {
    display: inline;
    margin-left: 15px;
    font-size: 15px;
    color: gray;
}